/* You can add global styles to this file, and also import other style files */
//fonts
//font-family: 'Inter', sans-serif;
//font-family: 'Work Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Work+Sans:wght@200;300;400;600;700&display=swap');

//import the functions and variables
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

$font-family-base: 'Work Sans', sans-serif;
$font-family-2: 'Inter', sans-serif;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;
$font-weight-bolder:          bolder;

$font-sizes: (
  1: 2rem, //32px
  2: 1.875rem, //30px
  3: 1.5rem, //24px
  4: 1.125rem, //18px
  5: 1.0625rem, //17px
  6: 1rem, //16px
);

.fs-14 { //14px
  font-size: 0.875rem;
}
.fs-12 { //12px
font-size: 0.75rem;
}
.fs-11 { //11px
  font-size: 0.6875rem;
}


$custom-theme-colors: (
  "green":#2ECC71,
  "blue": #3498DB,
  
  "mdarker": #252C39,
  "mdark": #323A4B,
  
  "mgray": #645F78,
  "mlightgray": #BCC8DF,
  "msearchgray": #3B424D,
  "mpassportgray": #EFF0F1,

  "mlight": #F4F8FB,
  "minput": #EEEEEE,
  "myellow":#FF9900,
  "white": #FFFFFF,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'bootstrap/scss/bootstrap.scss';


@import 'ol/ol.css';

/*map style todo refactor*/

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.map-box {
    height: calc(100% - 56px);
}

.map {
    width: calc(100% - 150px);
    height: 100%;
    position: relative;
}
.functions {
    background-color: var(--bs-gray-200);
}
.h-100 {
    height:100%;
}



.info {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background: rgba(0, 60, 136, 0.7);
    color: white;
    border: 0;
    transition: opacity 100ms ease-in;
}

.zoom-info {
    position: absolute;
    right: 0px;
    z-index: 1; 
}

.toggle-btn {
    position: absolute;
    right: 0px;
    z-index: 10;
}